[package]
name = "common"
version = "0.1.0"
edition = "2021"

[lib]
path = "lib.rs"

[dependencies]
chrono = { version = "0.4.42", features = ["serde"] }
serde = "1.0.228"
serde_json = "1.0.145"
uuid = "1.19.0"
